.carousel-img{
    height: 100vh;
}
.carousel-title{
    z-index: 1;
    position: relative;
    top: 200px;
    font-size: 30px;
   
}
.carousel-title h1{
    font-size: 60px;
   border-radius: 20px;
    background-color: #e6e6e6d0;
    padding: 20px;
    color: #0aac76;
}
.carousel-title h1:hover{
    background-color: rgba(255, 68, 0, 0.5);
    color: white;
}
.manage-btn{
    outline: none;
    
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color: #333;
    font-weight: 600;
    border: 2px solid #0aac76;
}
.manage-btn:hover{
    background-color: #0aac76;
    border: 2px solid transparent;
    color: white;
}