.carousel-img{
    height: 100vh;
}
.carousel-title{
    z-index: 1;
    position: relative;
    top: 200px;
    font-size: 30px;
   
}
.carousel-title h1{
    font-size: 60px;
   
    background-color: #0aac7683;
    padding: 20px;
}